@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, #d4cfb1 ,#420000);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
    color: #420000;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}
.todo-app h2 img{
    width: 28px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lab(96.08% 1.59 9.75);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #420000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 8px;
    user-select: none;
    cursor: pointer;  
}

ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked_icon.png);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked_icon.png);
}

ul li span{
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;
} 



